<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.test.mybatis.MyMapper">

    <select id="selectData"  parameterType="hashMap" resultType="com.test.test.data" fetchSize="100000">
    <!-- 쿼리문 -->
    select * from data;
    </select>
   
    <insert id="insertData" parameterType="hashMap">
    <!-- 쿼리문 -->    
        insert data(data0, data1, data2) values (#{data0}, #{data1}, #{data1});
    </insert>   


    <!-- 재료 목록 쿼리문-->
    <select id="listIngredient" parameterType="hashMap" resultType="com.test.test.tables.IngredientDTO">
        select * from ingredient order by ingredient_name limit ${start}, ${end};
    </select>
    <!-- 재료 추가 쿼리문 -->
    <insert id="insertIngredient" parameterType="hashMap">
        insert into ingredient(ingredient_uuid, ingredient_name, ingredient_image)
            values(uuid(), #{ingredient_name}, #{ingredient_image});
    </insert>
    <!-- 재료 수정 쿼리문 -->
    <update id="updateIngredient" parameterType="hashMap">
        update ingredient
            set ingredient_name=#{aft_ingredient_name},
                ingredient_image=#aft_ingredient_image}
            where ingredient_uuid=#{ingredient_uuid};
    </update>
    <!-- 재료 상세 쿼리문-->
    <select id="detailIngredient" parameterType="hashMap" resultType="com.test.test.tables.IngredientDTO">
        select * from ingredient where ingredient_uuid=#{ingredient_uuid};
    </select>
    <!-- 재료 삭제 쿼리문-->
    <delete id="deleteIngredient" parameterType="String">
        delete from ingredient where ingredient_uuid=#{ingredient_uuid};
    </delete>

    <!-- 칵테일 목록 쿼리문-->
    <select id="listCocktail" parameterType="hashMap" resultType="com.test.test.tables.CocktailDTO">
        select * from cocktail order by cocktail_name limit #{start}, #{end};
    </select>
    <!-- 칵테일 기준 목록 쿼리문-->
    <select id="listStdCocktail" parameterType="hashMap" resultType="com.test.test.tables.CocktailDTO">
        select * from cocktail where #{show_std}=#{show_std_content} order by cocktail_writer limit #{start}, #{end};
    </select>
    <!-- 칵테일 추가 쿼리문 -->
    <insert id="insertCocktail" parameterType="hashMap">
        insert into cocktail(cocktail_uuid, cocktail_name, cocktail_writer, cocktail_image, cocktail_explanation, cocktail_glass, cocktail_base, cocktail_source)
            values(uuid(), #{cocktail_name}, #{cocktail_writer}, #{cocktail_image}, #{cocktail_explanation}, #{cocktail_glass}, #{cocktail_base}, #{cocktail_source});
    </insert>
    <!-- 칵테일 수정 쿼리문 -->
    <update id="updateCocktail" parameterType="hashMap">
        update cocktail
            set cocktail_name=#{aft_cocktail_name},
                cocktail_writer=#{aft_cocktail_writer},
                cocktail_image=#{aft_cocktail_image},
                cocktail_explanation=#{aft_cocktail_explanation},
                cocktail_glass=#{aft_cocktail_glass},
                cocktail_base=#{aft_cocktail_base},
                cocktail_source=#{aft_cocktail_source}
            where cocktail_uuid=#{cocktail_uuid};
    </update>
    <!-- 칵테일 상세 쿼리문 -->
    <select id="detailCocktail" parameterType="hashMap" resultType="com.test.test.tables.CocktailDTO">
        select * from cocktail
            where cocktail_uuid=#{cocktail_uuid};
    </select>
    <!-- 칵테일 상세 쿼리문1 -->
    <select id="detailCocktail_setting" parameterType="hashMap" resultType="com.test.test.tables.SettingDTO">
        select * from settingCocktailWithIngredient where cocktail_uuid=#{cocktail_uuid};
    </select>
    <!-- 칵테일 상세 쿼리문2 -->
    <select id="detailCocktail_comment" parameterType="hashMap" resultType="com.test.test.tables.CommentDTO">
        select * from commentCocktailWithUser where cocktail_uuid=#{cocktail_uuid};
    </select>
    <!-- 칵테일 제거 쿼리문 -->
    <delete id="deleteCocktail" parameterType="hashMap">
        delete from cocktail where cocktail_uuid=#{cocktail_uuid};
    </delete>

    <!-- 사용자 아이디 중복검사 쿼리문 -->
    <select id="checkUser" parameterType="hashMap" resultType="String">>
        select * from user where user_id=#{user_id};
    </select>
    <!-- 사용자 로그인 쿼리문 -->
    <select id="loginUser" parameterType="hashMap" resultType="com.test.test.tables.UserDTO">>
        select * from user;
    </select>
    <!-- 사용자 추가 쿼리문 -->
    <insert id="insertUser" parameterType="hashMap">
        insert into user(user_id, user_password, user_nickname, user_email)
            values(#{user_id}, #{user_password}, #{user_nickname}, #{user_email});
    </insert>
    <!-- 사용자 아이디 검색 쿼리문 -->
    <select id="searchUser" parameterType="hashMap" resultType="com.test.test.tables.UserDTO">
        select * from user where user_email=#{user_email};
    </select>
    <!-- 사용자 수정 쿼리문 -->
    <update id="modifyUser" parameterType="hashMap">
        update user set user_nickname=#{user_nickname} where user_id=#{user_id} and user_password=#{user_password} and user_email=#{user_email};
    </update>
    <!-- 사용자 상세 쿼리문 -->
    <select id="detailUser" parameterType="hashMap" resultType="com.test.test.tables.UserDTO">
        select * from user where user_id=#{user_id};
    </select>
    <!-- 사용자 상세 쿼리문1 -->
    <select id="detailUser_download" parameterType="hashMap" resultType="com.test.test.tables.DownloadDTO">
        select downloadUserWithCocktail.* from downloadUserWithCocktail 
            where downloadUserWithCocktail.user_id=#{user_id};
    </select>
    <!-- 사용자 상세 쿼리문2 -->
    <select id="detailUser_comment" parameterType="hashMap" resultType="com.test.test.tables.CommentDTO">
        select commentCocktailWithUser.* from commentCocktailWithUser 
            where commentCocktailWithUser.user_id=#{user_id};
    </select>
    <!-- 사용자 삭제 쿼리문 -->
    <delete id="deleteUser" parameterType="hashMap">
        delete from user where user_id=#{user_id};
    </delete>

    <!-- 조합-칵테일-재료 추가 쿼리문 -->
    <insert id="insertSetting" parameterType="hashMap">
        insert into settingCocktailWithIngredient(settingCocktailWithIngredient_uuid, cocktail_uuid, cocktail_name, ingredient_uuid, ingredient_name, vol, tool)
            values(uuid(), #{cocktail_uuid}, #{cocktail_name}, #{ingredient_uuid}, #{ingredient_name}, #{vol}, #{tool});
    </insert>
    <!-- 조합-칵테일-재료 삭제 쿼리문 -->
    <delete id="deleteSetting" parameterType="hashMap">
        delete from settingCocktailWithIngredient where cocktail_uuid=#{cocktail_uuid} and ingredient_uuid=#{ingredient_uuid};
    </delete>

    <!-- 다운로드-칵테일-사용자 추가 쿼리문 -->
    <insert id="insertDownload" parameterType="hashMap">
        insert into downloadUserWithCocktail(downloadUserWithCocktail_uuid, cocktail_uuid, cocktail_name, user_id)
            values(uuid(), #{cocktail_uuid}, #{cocktail_name}, #{user_id});
    </insert>
    <!-- 다운로드-칵테일-사용자 삭제 쿼리문 -->
    <delete id="deleteDownload" parameterType="hashMap">
        delete from downloadUserWithCocktail where user_id=#{user_id} and cocktail_uuid=#{cocktail_uuid};
    </delete>

    <!-- 댓글-칵테일-사용자 추가 쿼리문 -->
    <insert id="insertComment" parameterType="hashMap">
        insert into commentCocktailWithUser(commentCocktailWithUser_uuid, cocktail_uuid, cocktail_name, user_id, comment, time)
            values(uuid(), #{cocktail_uuid}, #{cocktail_name}, #{user_id}, #{comment}, #{time});
    </insert>
    <!-- 댓글-칵테일-사용자 삭제 쿼리문 -->
    <delete id="deleteComment" parameterType="hashMap">
        delete from commentCocktailWithUser where user_id=#{user_id} and cocktail_uuid=#{cocktail_uuid} and comment=#{comment} and time=#{time};
    </delete>
</mapper>  