<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" 
      xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>
        <h1>Home Page</h1>
        <hr>
        <div>
            <a sec:authorize="isAnonymous()" th:href="@{/security_test/login}">로그인</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/security_test/logout}">로그아웃</a>
            <a sec:authorize="isAnonymous()" th:href="@{/security_test/signup}">회원가입</a>
        </div>
        <div>
            <a th:href="@{/security_test/member/info}">내 정보</a>
            <a th:href="@{/security_test/admin}">관리자</a>
        </div>
    </body>
</html>